body{
    margin: 0;
    background-color: violet;
}

main{
    margin: 0px;
}

#main_menu{
    background-color: rgb(153, 68, 156);
    display: inline-block;
    width: 100%;
    position: fixed;
}

#main_menu h1{
    color: green;
    text-shadow: 1px 1px 0px white;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(104, 252, 129);
}

#main_menu #content{
    margin-top: 20px;
    font-size: 20px;
    padding: 5px 0px;
    display: block;
    background-color: hsl(298, 39%, 32%);
}

#main_menu a{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px 10px;
}

#main_menu a:hover{
    background-color: hsla(139, 31%, 35%, 0.993);
}

#video_cover{
    margin-top: 110px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}

#home_content h1{
    background-color: rgb(99, 252, 99);
    margin-bottom: 0px;
    padding: 20px;
    border-radius: 10px;
}

#home_content h3{
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    background-color: rgb(99, 252, 99);

}

#home_content button{
    font-weight: bold;
    font-size: 16px;
    padding: 16px 48px;
    border-radius: 10px;
    border: none;
    background-color: rgb(99, 252, 99);
}

#home_content button:hover{
    background-color: rgb(57, 158, 57);
}

#home_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#joker_lore{
    padding-top: 110px;
}

#joker_content{
    padding: 10px;
    font-size: 20px;
}

